$color-primary: #003f66;
$color-secondary: #ff9807;
$color-third: #d6d6d6;
$color-fourth: #3d3838;
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Ubuntu Condensed", sans-serif;
}

.container {
  background: $color-primary;
  width: 80%;
  max-width: 600px;
  margin: 30px auto;
  height: 600px;
  border: 1px solid $color-primary;
  border-radius: 10px;
}
#result {
  flex-grow: 1;
  font-size: 3.2em;
  font-weight: bold;
}

#digits {
  height: 50px;
  align-self: flex-end;
  padding-right: 10px;
  color: white;
}
.input-box {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.result-box {
  background: $color-secondary;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  margin-bottom: 50px;
}

input {
  background: $color-secondary;
  border-radius: 10px;
  padding: 2px;
  text-align: center;
  outline: none;
  border: 1px solid $color-third;
  font-size: 0.8em;
}
.operator-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  background: $color-fourth;
  font-size: 1em;
  color: $color-third;
  padding: 5px;
  border-radius: 10px;
  margin-top: 20px;
  width: 150px;
  outline: none;
  border: 1px solid $color-third;
  &:active {
    border: 1px solid $color-secondary;
  }
}
#operator {
  color: $color-secondary;
}
